
.bottom-bar {
    width: calc(100% - 2%);
    padding: 0.5%;
    background-color: #ccc;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-bar .text2 {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 40px;
}
.side-bar-l, .side-bar-r {
    height: calc(100% - 180px - 5%);
    width: 100px;
    padding: 0.5%;
    background-color: #ccc;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    top: calc(100px + 2%); 
}
.side-bar-l {
    left: 0.5%;
}

.side-bar-r {
    right: 0.5%;
}
.posts-container {
    width: 80%;
    margin-top: calc(40px + 1%);
    padding-top: 20px; 
    margin-bottom: calc(50px + 2%); 
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.post-date {
    font-size: 14px;
    color: #777; 
}

.post-description {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}
.post-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin: 10px 0;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.post-likes {
    font-size: 14px;
    color: #777; 
}
@media (max-width: 768px) {
    .posts-container {
        width: 95%;
        margin-top: 100px;
    }
    .post h2 {
        font-size: 20px;
    }
    .post p {
        font-size: 14px;
    }
    .bottom-bar {
        width: 100%;
        padding: 10px;
        font-size: 25px;
    }

    .side-bar-l, .side-bar-r {
        display: none;
    }

    .bottom-bar .text2 {
        font-size: 30px;
    }
    .bottom-bar {
        width: 100%;
        padding: 10px;
        font-size: 25px;
    }

    .side-bar-l, .side-bar-r {
        display: none;
    }

    .bottom-bar .text2 {
        font-size: 30px;
    }
}
@media (max-width: 1300px) {
    .side-bar-l, .side-bar-r {
        display: none;
    }
}
